@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800;900&display=swap');

body
{
    font-family: "Roboto", sans-serif;
    line-height: 1.8;
}

.circle-1
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(18% at right 65%);
    z-index: -3;
}

.circle-2
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(10% at 60% 10%);
    z-index: -3;
}

.circle-3
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(5% at 5% 50%);
    z-index: -3;
}
.circle-4
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(2% at 55% 85%);
    z-index: -3;
}

.circle-5
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(9% at 30% 20%);
    z-index: -3;
}

.circle-6
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(15% at left 65%);
    z-index: -3;
}

.circle-7
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(8% at 65% 70%);
    z-index: -3;
}

.circle-8
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(3% at 80% 25%);
    z-index: -3;
}

.circle-9
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(15% at left 75%);
    z-index: -3;
}

.circle-10
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 224, 254, 0.7),rgba(17, 7, 254, 0.3));
    clip-path: circle(2% at 90% 25%);
    z-index: -3;
}


h1, h2, h3, h4, h5, h6
{
    font-weight: 900 !important;
}

a
{
    text-decoration: none;
    transition: all 0.4s ease;
    font-weight: 800;
    color: #FFFFFF;
}



img
{
    width: 100%;
    
}

.img-profile
{
    border-radius: 5%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
}

.image-port
{
    height: 170px;
    border-radius: 5%;
}

/*border-radius: 5%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);*/

section
{
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 2;
    position: relative;
}

.overlay
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(17, 7, 254, 0.7), rgba(0, 224, 254, 0.7));
    z-index: -1;
}

.bg-cover
{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.hero-section
{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn
{
    padding: 14px 22px;
    transition: all 0.3s ease;
}

.btn-main
{
    background: linear-gradient(to right, #00e0fe,#1107fe);
    border-radius: 100px;
    border: none;
    font-weight: 600;
    color: #FFFFFF;
}

.btn:hover
{
    color: #FFFFFF;
    transform: translateY(-5px);
}

.navbar
{
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.1);
}

.nav-item a:hover
{
    color: linear-gradient(#00e0fe,#1107fe);;
}

.section-intro
{
    margin-bottom: 40px;
    margin-top: 40px;
}

.section-intro .divider
{
    height: 4px;
    width: 70px;
    margin: 16px auto;
    background: linear-gradient(to right, #00e0fe,#1107fe);
}


.icon
{
    background: linear-gradient(#00e0fe,#1107fe);
    width: 50px;
    height:50px;
    border-radius: 100px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    margin: auto;
    transition: all 0.3s ease;
}

.icon-2
{
    background: linear-gradient(#00e0fe,#1107fe);
    width: 60px;
    height:60px;
    border-radius: 100px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    transition: all 0.3s ease;
    position: absolute;
    bottom: -30px;
    left: 50%;
    transform: translateX(-50%);
}

.icon-3
{
    background: none;
    width: 70px;
    height:70px;
    border-radius: 140px;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
    margin: auto;
    transition: all 0.3s ease;
}

.icon:hover , .icon-3:hover
{
    transform: translateY(-5px);
}



.feature
{
    border-radius: 5%;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(15px);
    padding: 0.7em;
}

.feature:hover
{
    background-color: #FFFFFF;
}

.feature-2
{
    border-radius: 5%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-top: 1px solid rgba(177, 164, 164, 0.418);
    border-left: 1px solid rgba(107, 99, 99, 0.418);
    border-right: 1px solid rgba(26, 18, 18, 0.418);
    border-bottom: 1px solid rgba(26, 18, 18, 0.418);
    backdrop-filter: blur(15px);
    padding: 0.7em;
    transition: all 0.5s ease;
}

.feature-2:hover
{
    background-color: #FFFFFF;
}


.tools_father
{
    margin: 10px;
}

.carousel__contenedor
{
    position: relative;
}

.carousel__anterior, .carousel__siguiente
{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 50%;
    top: calc(50%);
    line-height: 30px;
    background: none;
    color: #1107fe;
    opacity: 70%;
}

.carousel__anterior:hover, .carousel__siguiente:hover
{
    color: #1107fe;
    opacity: 100%;
}

.carousel__anterior
{
    left: -30px;
}

.carousel__siguiente
{
    right: -30px;
}

.carousel__lista
{
    margin: 1em;
    overflow: hidden;
}

.carousel__elemento
{
    margin: 1em;
}

.carousel__elemento:hover
{
    transform: scale(1.02);
}

.carousel__indicadores .glider-dot
{
    display: block;
    background: linear-gradient(#00e0fe,#1107fe);
    opacity: .2;
}

.carousel__indicadores .glider-dot:hover
{
    opacity: .5;
}

.carousel__indicadores .glider-dot.active
{
    opacity: 1;
}